#hd{
	height:32px;
	background-color:#dfdfdf;
}

#ft{
	height:25px;
	background-color:#dfdfdf;
	display:none;
}

.tweet{
	height:60px;
}

.hidden { 
	display:none;
}

.tweet .tweet-image {
	float: left;
	width: 60px;
	height: 60px;
}

.tweet .tweet-body {
	position:relative;
	left:5px;
	top:3px;
}

.tweet .tweet-footer {
	color:#999999;
}

.bold{
	font-weight:bold;
}

a, .pseudolink {
	color:blue;
	cursor: pointer;
	text-decoration: underline;
}

#sidebox {
	float:right;
	position:absolute;
	right:0px;
	width: 185px;
	background-color:#C0DFEC;
	color:black;
	padding:10px;
	overflow:hidden;
}

#search-box{
	position:relative;
	top:5px;
	padding-right:5px;
	float:right;
}

#search-box input[type=text]{
	background:url("http://s89997654.onlinehome.us/screencaps//mv_fp_icons_sprite_1.1.png_%28PNG_Image%2C_136x350_pixels%29-20100310-202129.jpg") no-repeat white 5px;
	width:180px;
	padding: 1px 0px 1px 20px;
	height:20px;
	border:none;
	font-weight:bold;
}

